<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #f="ngForm">
    <ion-row>
      <ion-input name="email" type="text"  [(ngModel)]="email" placeholder="Digite seu e-mail"></ion-input>  
    </ion-row>
    <ion-row>
      <ion-input name="senha" type="password"  [(ngModel)]="senha" placeholder="Digite sua senha"></ion-input> 
    </ion-row>
    <ion-row class="alinhar">
      <ion-button (click)= "logarComFacebook()" name="buttonLogar"> 
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
         Logar com facebook
      </ion-button>
      <ion-button (click)= "logar()" name="buttonLogar" color='secondary'> 
         Logar
      </ion-button>
      <ion-button  (click)= "cadastrar()" name="buttonAdicionar" color="success"> 
         Cadastrar 
      </ion-button>
    </ion-row>
    <ion-row class="alinhar">
      <ion-label color= "danger">{{mensagemErro}}</ion-label>
    </ion-row>
  </form>
  
</ion-content>
